/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

@font-face {
    font-family: 'EMprint';
    src: url('../fonts/EMprint-Regular.ttf') format('truetype');
    src: url('../fonts/EMprintW05-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EMprint';
    src: url('../fonts/EMprint-Semibold.ttf') format('truetype');
    src: url('../fonts/EMprintW05-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'EMprint';
    src: url('../fonts/EMprint-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EMprint';
    src: url('../fonts/EMprint-Light.ttf') format('truetype');
    src: url('../fonts/EMprintW05-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'EMprint';
    src: url('../fonts/EMprint-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* =============== */
/* HTML components */
/* =============== */

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'EMprint', 'Arial', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Sans-serif';
    font-size: 14px;
}

section.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.padding-top {
    padding-top: 50px;
}

section.padding-bottom {
    padding-bottom: 50px;
}

/* ==================== */
/* Bootstrap components */
/* ==================== */

.navbar-mobil {
    border-bottom: 4px solid #133793;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    min-height: 60px;
}

.container > .navbar-header {
    margin-right: 50px;
}

.navbar-brand {
    height: inherit;
}

ul.nav-mobil>li>a {
    font-size: 16px;
    padding: 23px 20px 20px;
}

.breadcrumb {
    background-color: inherit;
    margin-bottom: inherit;
}

.breadcrumb>li+li:before {
    color: #333;
    content: "\25B6";
}

.panel-mobil {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .8);
}

.panel-mobil .panel-heading {
    position: relative;
}

.panel-mobil .panel-heading.with-border:after {
    content: "";
    display: block;
    padding-top: 9px;
    border-bottom: 1px solid #DBDBDB;
}

.panel-mobil .panel-title {
    font-weight: bold;
}

.panel-mobil .panel-tools {
    position: absolute;
    right: 15px;
    top: 3px;
}

.panel-mobil .panel-footer {
    background-color: inherit;
    border-top: none;
}

.panel-mobil .panel-footer.with-border:before {
    content: "";
    display: block;
    margin-bottom: 9px;
    border-bottom: 1px solid #DBDBDB;
}

.panel-mobil.panel-filter .panel-title {
    font-size: 14px;
}

.panel-mobil.panel-filter .panel-body {
    padding-top: 0;
}

.card {
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.card-info-title {
    font-size: 18px;
    overflow: hidden;
}

.asset.card-info-title {
    font-size: 16px;
}

.asset-grid .asset.card-info-title {
    height: 70px;
}

.asset-list .asset.card-info-title {
    height: 52px;
}

.asset-list .listov a {
    margin-left: 5px;
}

.card-info-created {
    font-size: 10px;
}

.card-info-filesize {
    font-size: 10px;
    font-style: italic;
}

.card-info-media {
    color: #133793;
    font-size: 16px;
    padding-top: 5px;
}

.card-footer-buttons {
    margin-top: 5px;
}

.dropdown-menu {
    border: 1px solid #337AB7;
}

.dropdown-menu .divider {
    background-color: #337AB7;
}

.dropdown-menu>li>a {
    color: #133793;
}

.btn-primary {
    background-color: #133793;
    border-color: none;
}

.btn-secondary {
    color: #fff;
    background-color: #337AB7;
    border-color: none;
}

.container-sm {
    max-width: 960px;
}

.section-300 {
    min-height: 300px;
}
.section-500 {
    min-height: 500px;
}

.modal-header {
    background: #133793;
    color: white;
}

.modal-header .close {
    opacity: 1;
    font-size: 24px;
}

.modal-header .fa.fa-close {
    color: white;
}

.table-tight>tbody>tr>td, .table-tight>tbody>tr>th, .table-tight>tfoot>tr>td, .table-tight>tfoot>tr>th, .table-tight>thead>tr>td, .table-tight>thead>tr>th {
    padding: 2px;
}

.table.table-noborder td {
    border-top: none;
}

/*
.checkbox label, .radio label {
    padding-left: 15px;
}
*/

/* ================= */
/* Custom components */
/* ================= */

#avatar {
    padding-top: 20px;
}

.bluebar {
    background-color: #0E469B;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.bluebar .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.bluebar .dropdown {
    border-right: 1px solid #808080;
}

.bluebar .dropdown:last-of-type {
    border-left: 1px solid #808080;
}

.bluebar a {
    color: white;
}

.bluebar .form-group {
    margin-bottom: 0;
}

.bluebar .searchbox {
    max-width: 300px;
}

.bluebar #search {
    background-color: #0E469B;
    border: none;
    color: white;
}

.linebar {
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.linebar-info {
    padding-top: 6px;
    margin-right: 10px;
}

.linebar-info > span {
    padding-left: 5px;
    padding-right: 5px;
}

.linebar-info > span:first-child {
    border-right: 1px solid #1A1A1A;
}

.menu-column {
    padding: 0 25px;
}

.menu-column a {
    color: #333;
    text-decoration: none;
}

.view-buttons {
    padding-top: 3px;
}

.view-buttons a {
    color: #333;
    text-decoration: none;
}

.view-buttons a.active {
    color: white;
}

.listcol {
    float: left;
}

.listcol.listcol-right {
    padding: 10px;
}

.listcol img {
    height: 110px;
}

.listbo {
    position: relative;
}

.listov {
    position: absolute;
    right: 20px;
    bottom: 26px;
}

.body-wrapper {
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .3);
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 10px;
}

.template.selected img {
    border: 4px solid #133793;
}

#footer-cap {
    height: 52px;
    background: #06459f;
    background: -webkit-linear-gradient(legacy-direction(to right), #06459f, #33a2df);
    background: linear-gradient(to right, #06459f, #33a2df);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-top: 14px;
    position: relative;
}

#footer-cap::after {
    background: url('../images/footer-cap.png') no-repeat center;
    content: "";
    left: 0;
    height: 52px;
    opacity: .5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 0;
    width: 100%;
}

#footer-bottom {
    background-color: #262626;
    color: white;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-bottom a {
    color: white;
}

#avatar {
    color: #133793;
}

.edm-html-wrapper {
    overflow: scroll;
}